{% extends "shared/_page.html" %}
{% block main_content %}

<div class="flex flex-col w-full"
     x-data="{
               file: null,
               uploading: false,
               get uploadFile() {
                 return this.file?.[0]?.name;
               }
               }"
     >
  <div x-ref="form-container"
       class="flex items-center justify-center w-full p-24 z-100">
    <form id="form" x-ref="upload-form" hx-encoding="multipart/form-data" hx-post="/cdr/upload" class="w-full">
      <label for="dropzone-file"
             x-ref="dropzone-file"
             class="x-file-upload flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 relative">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
          <p class="text-xs text-gray-500 dark:text-gray-400">.pdf</p>
        </div>
        <input id="dropzone-file" name="file" type="file"
               class="absolute inset-0 z-50 m-0 p-0 w-full outline-none opacity-0 cursor-copy"
               x-on:change="file = $event.target.files; $refs['dropzone-file'].classList.add('hidden'); $refs['step2'].classList.remove('hidden');"
               x-on:dragover="$refs['dropzone-file'].classList.add('active');"
               x-on:dragleave="$refs['dropzone-file'].classList.remove('active');"
               x-on:drop="$refs['dropzone-file'].classList.remove('active');"
               >
      </label>

      <div x-ref="step2" class="flex flex-col w-full hidden">
        <div class="flex flex-row my-4 space-x-8 w-full">
          <div class="flex flex-col w-1/2 space-y-4">
            <div>
              <label class="form-control" for="filename">
                <span>File</span>
                <input name="filename" type="text" class="input input-bordered cursor-not-allowed" disabled x-model="uploadFile">
              </label>
            </div>

            <div>
              <label class="form-control" for="title">
                <span>Title *</span>
                <input name="title" type="text" class="input input-bordered">
              </label>
            </div>

            <div>
              <label class="form-control" for="doi">
                <span>DOI</span>
                <input name="doi" type="text" class="input input-bordered">
              </label>
            </div>

            <div class="form-control w-56">
              <label class="cursor-pointer label" for="is_open">
                <span>Document is Public</span>
                <input name="is_open" type="checkbox" checked="checked" class="checkbox checkbox-sm" />
              </label>
            </div>


            <div class="flex flex-row space-x-2">
              <button id="btn" class="btn btn-primary w-48">Submit</button>
              <button id="btn" class="btn btn-error w-48" onclick="event.preventDefault(); window.location.reload();" >Reset</button>
            </div>
          </div>

          <div class="flex flex-col w-1/2 space-y-4">

            <div>
              <label class="form-control" for="src_name">
                <span>Source Name * </span>
                <input name="src_name" type="text" class="input input-bordered">
              </label>
            </div>

            <div>
              <label class="form-control" for="src_url">
                <span>Source URL</span>
                <input name="src_url" type="text" class="input input-bordered">
              </label>
            </div>

            <div>
              <label class="form-control" for="src_id">
                <span>Source ID</span>
                <input name="src_id" type="text" class="input input-bordered">
              </label>
            </div>
          </div>
        </div>

        <div class="flex flex-row space-x-4 w-full">
          <div>
            <canvas id="p1"></canvas>
          </div>
          <div>
            <canvas id="p2"></canvas>
          </div>
        </div>
        <div class="m-4">
          <div class="text-xs whitespace-pre-line" id="p1text">
          </div>
        </div>

      </div>

    </form>


  </div>

  <div x-ref="progress-container"
       class="flex flex-col items-center w-full justify-center hidden">
    <div>
      <span class="loading loading-spinner loading-sm"></span>
      <span class="text-xl">Uploading</span>
    </div>
    <div class="mb-5">
      <span class="white-space-pre">File: </span><span x-text="uploadFile"></span>
    </div>

    <div class="w-96 bg-gray-200 rounded-full dark:bg-gray-700">
      <div id="pbar" class="bg-blue-600 text-lg font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 0%"> 0%</div>
    </div>
  </div>

</div>

<script type="module" src="/static/js/uploads_page.js"></script>


<script type="module" src="/static/js/mupdf.js"></script>

{% endblock %}
