<header class="flex items-center absolute z-10 top-[0.75rem] right-3 flex drop-shadow-md">
  <aside
    class="gap-2 flex hidden"
    hx-get="{{template_prefix}}/map-stats"
    hx-swap="outerHTML"
    hx-trigger="load"
    >
  </aside>
  {% include 'index/fragments/toggle-theme.html.jinja' %}

</header>
