<header class="absolute z-10 top-3 left-3">
  <nav class="ml-1 flex items-center gap-2">
    <div class="avatar shadow-lg">
      <div style="width: 2rem;">
        <img src="/static/img/polymer_logo.svg" />
      </div>
    </div>
    <ul class="gap-2 flex">
      <li class="">
        <h2
          class="font-bold text-2xl ml-[-5px] text-white"
          style="text-shadow: 2px -1px 0 #000, 3px -1px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000;"
          >
          Polymer
        </h2>
      </li>
      <li class="">
      </li>
    </ul>
  </nav>
</header>
