<header class="absolute z-10 top-3 left-3">
  <nav class="ml-1 flex items-center gap-2">
    <a href="/" class="flex gap-2 skip-link">
      <div class="avatar shadow-lg">
        <div style="width: 2rem;">
          <img
            style="filter: drop-shadow(1px 1px 1px black)"
            src="/static/img/polymer_logo.svg" />
        </div>
      </div>
      <h2
        class="font-bold text-2xl ml-[-5px] text-white"
        style="text-shadow: 2px -1px 0 #000, 3px -1px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000;"
        >
        Polymer
      </h2>
    </a>
  </nav>
</header>
