{
  debug
}
:8080 {
  # Redirect /api to /api/
  redir /api /api/
  redir /cmas /cmas/
  redir /features /features/

  handle /ui/upload/* {
    uri strip_prefix /ui/upload
    request_header Authorization "Bearer {$CDR_TOKEN}"
    request_header Host {$CDR_HOST}
    reverse_proxy {$CDR_HOST}:443 {
      transport http {
        tls
      }
    }
  }

  handle /auto_legend_api/* {
    uri strip_prefix /auto_legend_api
    reverse_proxy jataware-auto-legend.{$INTERNAL_DOMAIN}:7000
  }

  handle /ui/* {
    uri strip_prefix /ui
    reverse_proxy {env.API}:3000
  }

  handle /static/* {
    rewrite * /api{uri}
    reverse_proxy {env.API}:3000
  }

  # Handle API requests with reverse proxy
  handle /api/* {
    uri strip_prefix /api
    reverse_proxy {env.API}:3000 {
      transport http {
        read_timeout 200s  
        write_timeout 200s
      }
    }

  }
  

  handle /segment/* {
    uri strip_prefix /segment
    root * /usr/share/caddy/segment
    try_files {path} {path}/ /index.html
    file_server
  }

  handle_path / {
    reverse_proxy {env.API}:3000
  }

  handle /lines/* {
    reverse_proxy {env.API}:3000
  }

  handle /cmas/* {
    reverse_proxy {env.API}:3000
  }

  handle /sgmc/* {
    reverse_proxy {env.API}:3000
  }

  handle /features/* {
    reverse_proxy {env.API}:3000
  }

  handle_path /* {
    root * /usr/share/caddy
    try_files {path} {path}/ /index.html
    file_server
  }
}
