.AppHeader {
  background-color: "#282c34";
  padding: "10px";
  padding-top: "100px";
  color: "white";
  overflow: "auto";
  max-height: "200px";
}

.Landing {
  text-align: "center";
  height: "100vh";
  background-color: "#282c34";
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
}
