{% extends "shared/_page.html" %}

{% block main_content %}

  {% include 'index/fragments/absolute-polymer-logo.html.jinja' %}

  {% include 'index/fragments/abs-top-right-bar.html.jinja' %}

  {% include 'index/fragments/goto-cog-widget.html.jinja' %}

  {# form wraps both search form and browse results in order to paginate #}
  <form
    id="search-maps-form"
    onkeydown="return event.key != 'Enter';"
    hx-post="{{template_prefix}}/search-maps"
    hx-swap="innerHTML"
    hx-target="#map-results-target"
    >
    <section class="max-w-md card p-3 gap-2 prose z-10 absolute left-3 top-14 bg-base-200 rounded-lg drop-shadow-md">
      <h2 class="mb-0 card-title dark:text-base-content text-slate-800">Search Maps</h2>

      <div class="flex items-center justify-between">
        <h4 class="prose m-0 p-0">Search Type:</h4>
        <div role="tablist" id="search-type-selection" class="tabs bg-base-300 rounded-md">
          <span role="tab" id="main-tab-toggler" data-tab="main" class="tab tab-active bg-primary rounded-md text-base-100">Main</span>
          <span role="tab" id="ocr-tab-toggler" data-tab="ocr" class="tab">OCR</span>
        </div>
      </div>

      <div id="main-search" class="flex flex-col gap-2 slim:h-60 overflow-y-auto px-1">

        <label class="input input-md input-bordered flex items-center gap-2 mt-1">
          <input
            type="text"
            class="dark:neutral-content grow"
            name="search_text"
            placeholder="Legend Text"
            />
            {% include 'svg-icons/filter.html.jinja' %}
        </label>

        <label class="form-control mb-[-0.5rem]">
          <div class="label mt-0 py-0">
            <h4 class="m-0 label-text text-slate">Map Scale 1:n</h4>
          </div>

          <div class="mx-2 px-2">
            <input type="text" id="scale" />
            <input type="text" name="scale_min" class="hidden" />
            <input type="text" name="scale_max" class="hidden" />
          </div>
        </label>

        <label class="form-control">
          <div class="label mt-0 py-0">
            <h4 class="m-0 label-text text-slate">Map Years</h4>
          </div>

          <div class="mx-2 px-2">
            <input type="text" id="publish_year" />
            <input type="text" name="publish_year_min" class="hidden" />
            <input type="text" name="publish_year_max" class="hidden" />
          </div>
        </label>

        <select
          name="georeferenced_status"
          class="select select-md select-bordered w-full max-w-xs"
          >
          <option selected value="">Any Georeferenced Status</option>
          <option value="georeferenced">Georeferenced</option>
          <option value="not_georeferenced">Not Georeferenced</option>
          <option value="validated">Georeferenced & Validated</option>
        </select>

        <div>
          <div class="divider my-1"></div>
          <h4 class="my-0 label-text text-slate">Bounding Box</h4>

          <div class="grid grid-cols-2 gap-1">
            <div class="form-control">
              <label class="label cursor-pointer flex pt-1 pb-0 justify-start gap-2">
                <input type="radio" value="state" name="radio-bounds" class="radio radio-sm radio-accent" checked />
                <span class="label-text">Select State</span>
              </label>
            </div>
            <div class="form-control">
              <label id="draw-on-map-enable" class="label cursor-pointer flex pt-1 pb-0 justify-start gap-2">
                <input type="radio" value="draw" name="radio-bounds" class="radio radio-sm radio-accent" />
                <span class="label-text">Draw on Map</span>
              </label>
            </div>

            <div class="form-control">
              <label class="label cursor-pointer flex pt-0 pb-1 justify-start gap-2">
                <input type="radio" value="upload" name="radio-bounds" class="radio radio-sm radio-accent" />
                <span class="label-text">Use Shapefile</span>
              </label>
            </div>

            <div class="form-control">
              <label class="label cursor-pointer flex pt-0 pb-1 justify-start gap-2">
                <input type="radio" value="cma" name="radio-bounds" class="radio radio-sm radio-accent" />
                <span class="label-text">Existing CMA</span>
              </label>
            </div>
          </div>

          <div>
            <input
              id="state_input"
              class="input input-md input-bordered min-w-[16rem] my-1"
              type="text"
              placeholder="Enter US State"
              />
            <div
              id="state-autocomplete-results"
              class="border border-solid border-neutral/25 bg-base-100"
              >
            </div>
          </div>

          <label id="shapefiles-input-wrapper" class="form-control max-w-xs cursor-pointer hidden opacity-90 mt-1">
            <div class="label flex align-center justify-start py-0">
              <h4 class="not-prose label-text inline-block m-0 p-0 text-neutral-content">Select Shapefile (.zip)</h4>
              <span class="hidden loading-xs text-primary ml-1 text-xs text-neutral-content">Processing...</span>
            </div>
            <!-- No name field as we don't send the file itself for search, only extracted polygon coords -->
            <input
              type='file'
              id="shapefiles-file-input"
              accept=".zip"
              class="file-input file-input-bordered file-input-sm h-6 pe-0 text-xs file-input-accent" />
          </label>

          <div id="cma-filter-wrapper" class="hidden">
            <input
              id="cma-input"
              class="input input-md input-bordered min-w-[16rem] my-1"
              type="text"
              placeholder="Enter CMA name"
              />
            <div
              id="cma-autocomplete-results"
              class="border border-solid border-slate-400 bg-base-100 overflow-y-auto overflow-x-hidden"
              >
            </div>
          </div>

          <input type="hidden" name="multi_polygons_intersect" />

        </div>

        {# Unused and hidden while we implement on CDR search #}
        {# <div class="mt-[-0.25rem]"> #}
          {#   <h4 class="my-0 label-text text-slate" style="">Extracted Data</h4> #}
          {#   <div class="grid grid-cols-2 gap-x-3 gap-y-0"> #}
            {#     <div class="form-control"> #}
              {#       <label class="label cursor-pointer justify-start gap-2 py-1"> #}
                {#         <input #}
                                  {#           name="features_extracted" #}
                                  {#           type="checkbox" #}
                                  {#           class="checkbox checkbox-xs checkbox-accent" #}
                                  {#           /> #}
                {#         <span class="label-text">Features</span> #}
                {#       </label> #}
              {#     </div> #}
            {#     <div class="form-control"> #}
              {#       <label class="label cursor-pointer justify-start gap-2 py-1"> #}
                {#         <input #}
                                  {#           name="legends_extracted" #}
                                  {#           type="checkbox" class="checkbox checkbox-xs checkbox-accent" /> #}
                {#         <span class="label-text">Legends</span> #}
                {#       </label> #}
              {#     </div> #}
            {#   </div> #}
          {# </div> #}

        <div class="hidden" id="rock-units-section">
          <h4 class="label-text text-slate mt-0 mb-1">Geology Rock Units</h4>
          <div>
            <ul id="selected-rock-units" class="hidden flex flex-wrap max-w-60 max-h-40 overflow-y-auto overflow-x-hidden not-prose"> </ul>
            <input
              id="rock-units-autocomplete"
              class="input input-md input-bordered min-w-[16rem] mb-1"
              type="text"
              placeholder="Start Typing Rock Units"
              />
            <div
              id="rock-units-autocomplete-results"
              class="border border-solid border-neutral/25 bg-base-100 overflow-y-auto overflow-x-hidden"
              >
            </div>
          </div>
          <input type="hidden" name="sgmc_geology_major_1" class="sgmc_geology_input" />
          <input type="hidden" name="sgmc_geology_major_2" class="sgmc_geology_input" />
          <input type="hidden" name="sgmc_geology_major_3" class="sgmc_geology_input" />
          <input type="hidden" name="sgmc_geology_minor_1" class="sgmc_geology_input" />
          <input type="hidden" name="sgmc_geology_minor_2" class="sgmc_geology_input" />
          <input type="hidden" name="sgmc_geology_minor_3" class="sgmc_geology_input" />
          <input type="hidden" name="sgmc_geology_minor_4" class="sgmc_geology_input" />
          <input type="hidden" name="sgmc_geology_minor_5" class="sgmc_geology_input" />
        </div>

      </div><!--/main-search-->

      {% include 'index/fragments/ocr-search.html.jinja' %}

      <button
        class="btn btn-primary hover:btn-active"
        id="submit-search-button"
        hx-disabled-elt
        >
        Search
      </button>
    </section> <!-- end left filters -->

    <!-- browse map results -->
    <section
      id="browse-results"
      class="hidden flex overflow-x-hidden flex-column absolute z-10 card left-3 sm:left-auto max-w-95vw w-[31rem] 3xl:w-[60rem] right-3 top-14 bottom-28 bg-base-200 rounded-lg drop-shadow-md p-3"
      >
      <div class="flex justify-between w-full items-center">
        <h2 class="m-0 card-title text-2xl dark:text-base-content text-slate-800">Map Results</h2>
        <p class="list-none italic text-neutral-content m-0 text-right block">
          <button id="toggle-search-results" class="btn btn-ghost btn-sm">
            <!-- arrow-up-icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 class="size-6 pointer-events-none">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
            </svg>
          </button>
        </p>
      </div>

      <p
        class="text-sm text-base-content dark:text-neutral-content mb-1 pr-2 hidden"
        id="maps-results-count-total"
        >
        <span id="map-results-on-page"></span> <span id="maps-results-count"></span>
      </p>

      <div
        class="flex-1 relative overflow-x-hidden"
        id="map-results-target"
        >
        <div class="prose p-1 flex">
          <span class="loading loading-spinner text-primary"></span>&nbsp;
          Fetching results.
        </div>
      </div>

    </section><!-- end map results -->
  </form>

  {% include 'index/fragments/upload-map-section.html.jinja' with context %}

  <div id="shapefile-error-toast" class="toast toast-center z-20 hidden">
    <div class="alert alert-error text-red-100">
      <span>No Polygon shapes detected in zipfile. Select a valid shapefile zip.</span>
    </div>
  </div>

  {% block javascript %}
    <script>
      window.rock_units_uri = "{{rock_units_uri}}";
      window.template_prefix = "{{template_prefix}}";
      window.list_cmas_uri = "{{list_cmas_uri}}";
    </script>
    <script type="module" src="/static/js/index_page.js"></script>
  {% endblock %}

{% endblock %}
