<div
  class="grid px-0.5 grid-cols-2"
  >
  {% for stat in stats %}
  <div class="min-w-4">
    <div class="flex w-full m-1">
      <a
        class="btn btn-sm w-8 p-0 h-4 m-0 mr-1 border-solid border leading-none
              {% if stat.disabled %}pointer-events-none border-neutral/75{%else%} border-{{stat.main_color}} hover:border-{{stat.main_color}}{%endif%}"
        target="_blank"
        href="{{stat.link_url}}">
        {{stat.icon|safe}}
      </a>
      <div class="leading-none">
        <h5 class="w-full leading-none {% if not stat.disabled %}text-{{stat.main_color}} dark:text-{{stat.main_color}}/50 {%else%}text-base-content/50{%endif%}">
          {{stat.display_title}}
        </h5>
        <p class="mt-0 w-full inline-block leading-none"><span title="validated">{{stat.validated_count}}</span> / <span title="total">{{stat.total_count}}</span></p>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
