{% import "shared/modal.html.jinja" as modal %}

{% call modal.header() %}
<i class="fa-solid fa-layer-group"></i>
<h3>Natural Group</h3>
{% endcall %}

<div class="flex place-content-center">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Select a natural grouping of the system to validate</span>
    </div>
    <select class="select select-bordered" name="group">
      <option disabled selected>Pick one</option>
      {% for group in groups %}
      <option value="{{ group.legend_id }}">{{ group.name }}</option>
      {% endfor %}
    </select>
  </label>
</div>

{% call modal.header() %}
<i class="fa-solid fa-list"></i>
<h3>Legend Item</h3>
{% endcall %}

<div class="flex place-content-center">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Select a legend item to associate with the natural group</span>
    </div>
    <select class="select select-bordered" name="legend">
      <option disabled selected>Pick one</option>
      {% for li in legend_groups %}
      <option value="{{ li.legend_id }}">{{ li.label }}</option>
      {% endfor %}
    </select>
  </label>
</div>

{{ modal.header() }}

<label class="btn btn-primary btn-block" tabindex="0">
  <i class="loading loading-spinner hidden"></i>
  <span>Begin</span>
  <input type="submit" class="hidden">
</label>

<script>
  console.log("group-select.html.jinja");
  window.polymer.legendMapping = {{ legend_id_to_label | tojson }};
  window.polymer.system = "{{ system }}";
  window.polymer.version = "{{ version }}";
  window.polymer.rawFeatures = {{ features | tojson }};
  window.polymer.rawPolymerFeatures = {{ polymer_features | tojson }};
</script>