<div
  id="container"
  class="flex flex-col w-8/12"
  x-data="{
          disabled: false,
          which: 'pubs',
          search_by: 'title',
          toggle_search_opts() {
            console.log(this.which);
            if (this.which == 'zot') {
               console.log(this.disabled);
               this.disabled = true;
               console.log(this.search_by);
               if (this.search_by != 'title') {
                  $refs.title.checked = true;
               }
            } else {
               this.disabled = false;
            }
          },
          }"
  x-init="$watch('which', value => toggle_search_opts())"
  >
<div class="flex flex-col">
  <div class="flex flex-row">
    <div
      hx-include="input[name='search_by']:checked,input[name='which']:checked"
      class="flex flex-col w-9/12 my-4">
      <div>
        <input class="input input-bordered w-full"
               type="search"
               name="search"
               id="search"
               placeholder="Begin Typing To Search..."
               hx-get="/partials/search"
               hx-trigger="input changed delay:150ms, search, do-search"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator">
      </div>
      <div class="flex flex-row">
        <div class="flex form-control my-2 w-5/12">
          <label class="label cursor-pointer text-xs">
            <span class="label-text">USGS Publications Search</span>
            <input type="radio"
                   name="which"
                   x-model="which"
                   value="pubs"
                   class="radio checked:bg-red-500"
                   checked
                   hx-on:change="htmx.trigger('#search', 'do-search')"
                   />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">XDD Search</span>
            <input
              type="radio"
              name="which"
              x-model="which"
              class="radio checked:bg-blue-500"
              value="xdd"
              hx-on:change="htmx.trigger('#search', 'do-search')"
              />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">USGS NI 43-101 Reports</span>
            <input
              type="radio"
              name="which"
              x-model="which"
              class="radio checked:bg-green-500"
              value="zot"
              hx-on:change="htmx.trigger('#search', 'do-search')"
              />
          </label>
        </div>
        <div class="flex form-control my-2 w-2/12"></div>
        <div class="flex form-control my-2 w-5/12">
          <label class="label cursor-pointer">
                 <span class="label-text text-md">Search by Title</span>
                 <input type="radio"
                        name="search_by"
                        x-model="search_by"
                        value="title"
                        x-ref="title"
                        class="radio checked:bg-red-500"
                        hx-on:change="htmx.trigger('#search', 'do-search')"
                        {{ "checked" if search_by == "title" else "" }} />
          </label>
          <label class="label cursor-pointer"
                 :class="disabled && 'opacity-50'">
            <span class="label-text text-md">Search by DOI</span>
            <input type="radio"
                   name="search_by"
                   x-model="search_by"
                   value="doi"
                   class="radio checked:bg-blue-500"
                   hx-on:change="htmx.trigger('#search', 'do-search')"
                   :disabled="disabled"
                   {{ "checked" if search_by == "doi" else "" }}
                   />
          </label>
          <label class="label cursor-pointer"
                 :class="disabled && 'opacity-50'">
            <span class="label-text">Search by Term</span>
            <input type="radio"
                   name="search_by"
                   x-model="search_by"
                   value="term"
                   class="radio checked:bg-green-500"
                   hx-on:change="htmx.trigger('#search', 'do-search')"
                   :disabled="disabled"
                   {{ "checked" if search_by == "term" else "" }}
                   >
          </label>
        </div>
      </div>
    </div>
    <div class="flex w-3/12">

      <div class="flex flex-col w-full"
           x-data="{
                     file: null,
                     uploading: false,
                     get uploadFile() {
                       return this.file?.[0]?.name;
                     },
                     async do_upload() {
                       this.loading = true;
                       $refs['form-container'].classList.add('opacity-25');
                       $refs['form-container'].classList.add('pointer-events-none');
                       $refs['progress-container'].classList.remove('hidden');
                       console.log('uploading...');
                       await $nextTick();
                       $refs['btn-submit'].click();
                     },
                   }"
           >

        <div x-ref="form-container"
             class="flex items-center justify-center w-full px-4 pt-4 pb-2 z-100">
          <form id='form' x-ref="upload-form" hx-encoding='multipart/form-data' hx-post='/v1/pdfs/upload' class="w-full">
            <label for="dropzone-file"
                   x-ref="dropzone-file"
                   class="x-file-upload flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 relative">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-6 h-6 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Click</span>
                </p>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  or drag and drop
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">to upload a pdf</p>
              </div>
              <input id="dropzone-file" name="file" type="file"
                     class="absolute inset-0 z-50 m-0 p-0 w-full outline-none opacity-0 cursor-copy"
                     x-on:change="file = $event.target.files; do_upload();"
                     x-on:dragover="$refs['dropzone-file'].classList.add('active');"
                     x-on:dragleave="$refs['dropzone-file'].classList.remove('active');"
                     x-on:drop="$refs['dropzone-file'].classList.remove('active');"
                     >
            </label>
            <button class="hidden" x-ref="btn-submit"></button>
          </form>
        </div>

        <div x-ref="progress-container" class="flex flex-col items-center justify-center mx-6 my-1 hidden">
          <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div id="pbar" class="bg-blue-600 text-sm font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 0%"> 0%</div>
          </div>
          <div class="mx-6 w-full">
            <progress class="progress progress-primary w-full"></progress>
          </div>
        </div>
    </div>
  </div>
</div>

  <div class="htmx-indicator">
    <span class="loading loading-spinner loading-md"></span> Searching...
  </div>
  <div class="flex flex-col" id="search-results">
  </div>

</div>
<script src="{{ root_path }}/static/js/search_page.js" type="module"></script>
