.control_panel {
    font-family: "Helvetica, Arial, sans-serif";
    position: absolute;
    top: 0;
    right: 45%;
    margin: 12px;
    padding: 20px;
    z-index: 1;
    border-radius: 25px;
    background-color: #a2b6ca;
    color: white;
    opacity: 0.8;
}

.container_card {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    margin-bottom: 10px;
    align-items: center;
}


.scrollableContent {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.card {
    min-width: 400px;
}


.flexChild {
    flex: 1;
    height: 90%;
}


.loading {
    width: 100%;
    height: 100%;
    opacity: .5;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica, Arial, sans-serif";
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: rgb(167, 155, 155);

}


.map {
    background-color: #cfcfcf;
}

.left-panel {
    padding: 10px 10px 0;
}