body {
  margin: 0;
  font-family: monospace;
  overflow: hidden;
}

.flex-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-child>ul>li {
  border: 1px solid black;
  padding: 5px;
}

.spinner {
  position: absolute;
  color: #fefefe;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #2a2b2e, #283646, #25415F, #234C77);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.spinner>div {
  margin: 15px;
}

.spinner>div:nth-child(2) {
  height: 200px;
}